.home-app {
  background-color: cadetblue;
}

.home-main {
  padding-bottom: 50px;
}

.home-container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.home-main__inner {
  padding-top: 130px;
  text-align: center;
}

.home-main__inner-title {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 50px;
}

.home-main__inner-subtitle {
  font-size: 24px;
  font-weight: 400;
  max-width: 783px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 100px;
}

.cabinets {
  padding-left: 15px;
}
